<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<title>Mes articles</title>
</head>

<body style=" white-space: pre-line">

	<h1 class="text-center">Mes articles "Maison à part"</h1>